#Directories
bin/
bin-int/

#Files
*.user
Sandbox/Vortex-RunTime.json
Sandbox/Vortex-ShutDown.json
Sandbox/Vortex-Startup.json

*.ini
VortexEditor/Vortex-RunTime.json
VortexEditor/Vortex-ShutDown.json
VortexEditor/Vortex-Startup.json

#Visual Studio Files and Folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**vcxproj.user