#Directories
.vs/
bin/
bin-int/

#Files
*.user
Sandbox/Vortex-RunTime.json
Sandbox/Vortex-ShutDown.json
Sandbox/Vortex-Startup.json

VortexEditor/Vortex-RunTime.json
VortexEditor/Vortex-ShutDown.json
VortexEditor/Vortex-Startup.json