[submodule "VortexEngine/vendor/spdlog"]
	path = VortexEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "VortexEngine/vendor/GLFW"]
	path = VortexEngine/vendor/GLFW
	url = https://github.com/dicieous/glfw.git
	branch = master
[submodule "VortexEngine/vendor/imgui"]
	path = VortexEngine/vendor/imgui
	url = https://github.com/dicieous/imgui.git
        branch = docking
[submodule "VortexEngine/vendor/glm"]
	path = VortexEngine/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "VortexEngine/vendor/yaml-cpp"]
	path = VortexEngine/vendor/yaml-cpp
	url = https://github.com/dicieous/yaml-cpp.git
